services:
  db:
    image: postgres:15
    container_name: ${PROJECT_NAME}_postgres
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - pg_data:/var/lib/postgresql/data
    env_file:
      - .env

  web:
    build: .
    container_name: ${PROJECT_NAME}_fastapi
    restart: always
    depends_on:
      - db
    env_file:
      - .env


    ports:
      - "8000:8000"
    command: >
      sh -c "uvicorn run:app --host 0.0.0.0 --port 8000 --workers 1"
    volumes:
      - .:/app

volumes:
  pg_data:

